@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper{
    background-color: #333;
    color: aliceblue;
}
.card{
    background-color: #222;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.job{
    color: rgb(179, 185, 190);
}
.description{
    color: rgb(190, 195, 199);
}
.arrows{
    color: aliceblue;
}

